body{
    background-color: #1a1412;
}
/* Page */
.cv-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #0c0a09, #2a1f1c);
  padding: 40px 20px;
}

/* Card */
.cv-card {
  width: 700px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);

  padding: 30px;
  border-radius: 16px;

  color: #000000;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

/* Title */
.cv-card h2 {
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #000000;
  margin-bottom: 25px;
}

/* Grid for inputs */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

/* Inputs */
.cv-card input,
.cv-card textarea {
  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 8px;
  outline: none;

  background: rgba(255, 255, 255, 0.08);
  color: #000000;
}

/* Textarea */
.cv-card textarea {
  margin-top: 15px;
  min-height: 80px;
  resize: none;
}

/* Focus */
.cv-card input:focus,
.cv-card textarea:focus {
  border: 1px solid #ff7b54;
}

/* Button */
.cv-card button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;

  border: none;
  border-radius: 25px;

  background: linear-gradient(135deg, #ff7b54, #ff3d3d);
  color: #fff;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}

.cv-card button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(255, 123, 84, 0.6);
}